
// define color variables (custom color properties)
:root {
    --navy-light: #001E3C;
    --navy: #071A2E;
    --navy-dark: #0A1929;
    --sky: #07A1F8;
    --text: #B2BAC2;
    --border: #213A54;
    --green-light: #40E865;
    --green: #12D13C;
    --white: #ffffff;
}