
// define color variables (custom color properties)
:root {
    --navy-light: #001E3C;
    --navy: #071A2E;
    --navy-dark: #0A1929;
    --sky: #07A1F8;
    --text-color: #B2BAC2;
    --border-color: #213A54;
    --green-light: #40E865;
    --green: #1EDF1B;
    --green-hover: #18B115;
    --white: #ffffff;
    --black: #000000
}